<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/mdl/material.min.css">
    <link rel="stylesheet" media="screen and (min-width: 641px)" href="static/dashboard/desktop.css">
    <script src="static/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" media="screen and (min-width: 320px) and (max-width:640px)" href="static/dashboard/phone.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src='static/dashboard/dashboard.js'></script>
    <title>Dashboard</title>
  </head>
  <body>
    <div id='clock'></div>
    <div id='BAC'>0.00%</div>
    <div id='timer'></div>
    <div id='Buttons_top'>
      <div id = 'oneoz' class='button'>
        1.5oz
      </div>
      <div id = 'twooz' class='button'>
        5oz
      </div>
    </div>
    <div id='Buttons_bot'>
      <div id = 'threeoz' class='button'>
        8oz
      </div>
      <div id = 'fouroz' class='button'>
        12oz
      </div>
    </div>
  </body>
</html>
