<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/mdl/material.min.css">
    <link rel="stylesheet" media="screen and (min-width: 641px)" href="static/index/desktop.css">
    <script src="static/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" media="screen and (min-width: 320px) and (max-width:640px)" href="static/index/phone.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src='static/index/index.js'></script>
    <title>Title</title>
  </head>
  <body>
    <div id='main_page'>
 
    <h1>Welcome to Tipsy Tim!</h1>
   
    
    <h2>"Calculate your base BAC and as the night progresses, input the info on the drinks you've had. Know your BAC while already receiving feedback on how long you should wait before your next drink."</h2>
  <form action="/action_page.php">
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" placeholder="Your age...">

    <label for="weight">Weight (lbs):</label>
    <input type="text" id="weight" name="weight" placeholder="Your weight..">

    <label for="gender">Gender:</label>
    <div class="boxed">
      <select id="gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
      </div>
    <div class="button">
        <input type="submit" value="SUBMIT">
      </div>
      
  </form>
        </div>
  </body>
</html>
